
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
}

.Container {
    background-color: #f4a255; /* Background color for the container */
    padding: 20px; /* Add some spacing around the stopwatch */
    border-radius: 15px; /* Rounded corners for the container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow for a subtle elevation effect */
}

/* Header Styles */
header {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

/* Search Bar Styles */
#searchInput {
    display:block;
    grid-area: search;
    justify-content: baseline;
    animation-fill-mode: forwards;
    width: 75%;
    position: relative;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #e6c8c8cd;
    border-radius: 15px;
    font-size: 16px;
    background-color: #fff;
}

/* Search Suggestions Styles */
.suggestion-item {
    display: grid;
    appearance: button;
    width:fit-content;
    padding: 10px;
    cursor: pointer;
    border: 2px solid #ebe4e4cd;
    border-radius: 15px;
    font-size: 16px;
    justify-content: space-between;
    text-align: justify;
    transition: background-color 0.2s;
}

.suggestion-item:hover {
    background-color: #f0ebb0;
    border: 2px solid #eec77ecd;
    border-radius: 15px;
    font-size: 16px;
}

/* Search Results Styles */
#searchResults {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.meal-item {
    width:auto;
    height:auto;
    display:flexbox;
    position:inherit;
    appearance:inherit;
    background-color: #e01e1ef1;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 10px;
    font-weight: bold;
    font-style: inherit;
    text-align: center;
    justify-content: space-between;
    transition: transform 0.2s;
}

.meal-item:hover {
    appearance: button;
    position: center;
    transform: scale(1.0);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    justify-content:space-around;
}

/* Favourite Meals Styles */
ul#favouriteMeals li {
    appearance: button;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #d8dc8f;
    border: 1px solid #d17c7c;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

ul#favouriteMeals .remove-btn {
    appearance: button;
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
    cursor: pointer;
}

a {
    text-decoration:solid;
    color: #1171d8;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
